
<div class="data-wrapper">
<div class="img-wrapper">
  <div class="shadow">

  </div>

  <img src="https://img.freepik.com/free-photo/levitating-music-headphones-display_23-2149817605.jpg?size=626&ext=jpg&ga=GA1.2.1349258924.1680267605&semt=sph" alt="" product-image>

</div>
  <div class="data-set">
    <h3 class="name">Product Name</h3>
    <p class="desc">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, numquam!
    </p>
    <p class="cost-outer">
      <span class="cost-price">2500</span>&nbsp;&nbsp;&nbsp;
      &nbsp;
      <del class="discount-price">3500</del>
    </p>

  </div>
</div>


